@charset "ISO-8859-1";

body{
	display:flex;
	flex-flow: column nowrap;
	
	justify-content: center;
	align-items: center;

}

#container{
	display:flex;
	flex-flow: column nowrap;
	
	height:500px;
	
	justify-content:center;
	align-items: center;

}

a{
	margin:10px;
}

#form{
	display:flex;
	flex-flow: column nowrap;
	align-items: center;
}

.button{
	width: 200px;
}